.form {
    padding: 10px;
}

.legend {
    font-weight: 600;
    padding-bottom: 10px;
}

.priceRange {
    display: flex;
   margin-bottom: 10px;
   padding-bottom: 5px;
   gap: 10px;
}

.panel {
    height: 100vh;
    overflow: scroll;
    position: sticky;
    top: 0;
}