.route {
    display: flex;
    justify-content: space-between;
    padding: 5px 18px 0px;
}

.date {
    display: flex;
    justify-content: space-between;
    padding: 3px 18px 0px;
}

.duration {
    display: flex;
}

.airportShort {
    color: #0087c9;
}

.divider {
   opacity: 0.4;
}

.stops {
    padding: 0px 5px;
    white-space: nowrap;
    color:  rgb(255, 177, 104);
}

.connections_divider {
    display: flex;
    padding: 0px 30px;
}

.connections_divider::before,
.connections_divider::after {
    content: "";
    width: 100%;
    border-top: thin solid rgba(0, 0, 0, 0.87);
    align-self: center;
}

.operated_by {
    padding: 0px 18px;
}
