.summary {
   background-color: #0087c9;
   display: flex;
   color: white;
   justify-content: space-between;
   margin-bottom: 10px;
   align-items: center;
   padding: 0px 5px;
}

.details {
    padding: 0 18px;
}

.price {
text-align: right;
}

.button {
    background-color: rgb(255, 177, 104);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0px;
}

.button:hover {
    background-color: #0087c9;
}


