.details_container {
    margin: 10px 10%;
}

.summary {
   background-color: #0087c9;
   display: flex;
   color: white;
   justify-content: space-between;
   margin-bottom: 5px;
   align-items: center;
   padding: 0px 5px;
}

.price {
    padding-left: 18px;
    text-align: right;
}

.price_caption {
    font-size: 12px;
}

.button {
    background-color: rgb(255, 177, 104);
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 0px;
}

.button:hover {
    background-color: #0087c9;
}

.legsDivider {
    border-color: #0087c9;
    border-width: 1px;
    padding: 0px;
}